

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=cQewpO9zEA0" frameborder=0 height="66%"width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian </mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=Ay4yKZAJbTo" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian Slut</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=7vh_5RDi1e4" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=cQewpO9zEA0" frameborder=0 height="66%"width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=7vh_5RDi1e4" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian </mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=Ay4yKZAJbTo" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

</div>



<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian </mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=7vh_5RDi1e4" frameborder=0 height="66%"width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian </mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=cQewpO9zEA0" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian </mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=7vh_5RDi1e4" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=Ay4yKZAJbTo" frameborder=0 height="66%"width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>

  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=7vh_5RDi1e4" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          The Shiba
        </h3>
      </mat-card-content>
    </mat-card>  </div>
  <div fxFlex="33%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Canadian</mat-card-title>
        <mat-card-subtitle class="view">2659 View</mat-card-subtitle>
      </mat-card-header>
      <iframe src="https://www.youtube.com/watch?v=7vh_5RDi1e4" frameborder=0 height="66%" width="100%" scrolling=no allowfullscreen=allowfullscreen></iframe>
      <mat-card-content>
        <h3>
          SOON AVAILABLE
        </h3>
      </mat-card-content>
    </mat-card>  </div>

</div>


